<!-- <section> -->
<div class="container">
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">Cartao</li>
        </ol>
    </div>
    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="col-sm-6">
                    <h1>
                        <span>CARTÃO DE VISITA</span>
                    </h1>
                    <p>- Invista na melhor impressão que o cliente terá da sua marca
                        <br /> - Mantenha seus contatos sempre disponíveis e próximos do público
                        <br/> - A divulgação mais rápida e eficiente para a sua marca</p>
                    <span>A partir de</span>
                    <span>R$ 10,99</span>
                    <span class="unidade">/ 100 un.</span>
                    <span>
                        Na próxima tela você pode configurar as especificações do seu produto e conferir o preço
                    </span>
                    <br />
                    <a routerLink="/configCartao" routerLinkActive="active" class="btn btn-info">CONFIGURE AQUI</a>
                </div>
                <div class="col-sm-6">
                    <img src="images/home/cartao-visita.jpg" class="girl img-responsive" alt="" />
                    <img src="images/home/pricing.png" class="pricing" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- </section> -->
    <section>
        <div>
            <img src="images/home/sobre.png" class="img-responsive" height="425">
        </div>
    </section>

    <section class="container">
        <div class="panel-group category-products" id="accordian">
            <!--category-Dicas---->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                            <span class="badge pull-right">
                                <i class="fa fa-plus"></i>
                            </span>
                            I - Informações do produto

                        </a>
                    </h4>
                </div>
                <div id="sportswear" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li class="well-sm">
                                <p class="tab-content">
                                    1 - Inclua apenas dados básicos de identificação e contato.
                                    <br>2 - Os cartões de visita são os principais impressos de apresentação pessoal disponíveis.
                                    <br>3 - Para que ele seja eficiente e cumpra seu papel, insira apenas informações relevantes,
                                    que ajudem na sua identificação.
                                    <br>4 - Portanto, mantenha apenas informações de contato, de forma harmoniosa e de acordo
                                    com a identidade visual do negócio.</p>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                            <span class="badge pull-right">
                                <i class="fa fa-plus"></i>
                            </span>
                            II - Dicas
                        </a>
                    </h4>
                </div>
                <div id="mens" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>1 - Desenvolva um layout que facilite a leitura.
                                <br> 2 - Escolha cores de acordo com sua área de atuação.
                                <br>3 - As cores são fundamentais no processo de decisão de compra e lembre-se: modelos coloridos
                                são guardados por até 10 vezes mais tempo que os comuns.
                                <br>4 - Invista em BOPP Metalizado para chamar a atenção do cliente.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                            <span class="badge pull-right">
                                <i class="fa fa-plus"></i>
                            </span>
                            III - Cupom
                        </a>
                    </h4>
                </div>
                <div id="womens" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>1 - Uma dica de uso para o cartão de visita transformá-lo em um cupom de desconto.
                                <br>2 - Informações de contato e algumas linhas para anotações são perfeitas para pequenos orçamentos
                                e encomendas.</li>
                            <li>
                                <a href="#">&nbsp</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <br />