<header id="header">
    <!--header-->
    <section>
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="Cartao.html">Cartao</a>
                    </li>
                    <li class="active">Configurar</li>
                </ol>
            </div>
        </div>
    </section>
    <div class="features_items">
        <div class="well">
            <img src="images/home/okverde.fw.png" width="81" height="68">ESCOLHA A FORMA DE CRIAR SEU PRODUTO: CARTÃO DE VISITA
        </div>
    </div>
    <div id="apDiv1" class="breadcrumb">
        <h3>Resumo</h3>
        <br> Formato:
        <br> Impressão:
        <br> Cores:
        <br> Papel:
        <br> Acabamento:
        <br> Enobrecimento:
        <br> Extras:
        <br> Configurações Adicionais
        <br>
        <span class="alert-warning">Previsão de entrega:</span>
    </div>

    <!-- novo teste -->
    <section class="col-lg-10">
        <form action="#" method="post">
            <div class="col-sm-4">
                <!--features_items-->

                <div class="well">
                    <img src="images/home/enviar.fw.png" alt="" width="230">
                    <div class="brands_products">
                        <h4 class="brands_products  table-hover">
                            <input type="checkbox" name="check1" id="check1" onclick="nuevapagina('contrato.html')"> Enviar minha arte</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <img src="images/home/online.fw.png" alt="">
                    <div class="brands_products">
                        <h4 class="brands_products">
                            <input type="checkbox" name="check1" id="check1" onclick="nuevapagina('contrato.html')"> Criar On-line</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <img src="images/home/Cdesinger.fw.png" alt="">
                    <div class="brands_products">
                        <h4 class="brands_products">
                            <input type="checkbox" name="check1" id="check1" onclick="nuevapagina('contrato.html')"> Contratar Criação</h4>
                    </div>
                </div>
            </div>

        </form>
    </section>
    <!-- fim do novo teste -->

			   <div class="features_items" align="center"> 
                   <div>
                      <h3>
                          <img src="images/home/dois.jpg" width="40" height="40">
                           Selecione as opções
                      </h3>
                   </div>
              </div>     

    <br><br>         
    



    <br />
    <br />
    <section>
        <div align="center" class="features_items">
            <br>
            <br>
            <h3>
                <img src="images/home/tres.jpg" width="40" height="40"> Calcule o frete e a previsão de entrega
            </h3>
        </div>
        <div class="features_items" align="center">
            <h2>
                <input name="" type="checkbox" value="">
                <label> Entrega</label>

                <input name="" type="checkbox" value="">
                <label>Retira</label>
            </h2>
        </div>
    </section>
    <section>
        <div class="features_items" align="center">
            <h3>
                Pesquise o CEP
                <input type="text" class="btn-info alert">&nbsp;&nbsp;
                <input name="ok" class="btn-info alert" type="button" value="ok">
                <img src="images/home/okverde.jpg" width="81" height="68">
            </h3>
        </div>
        <div class="features_items" align="center">
            <h4 class="text-info col-lg-4">
                ESCOLHA UM LOCAL PARA RETIRADA!
            </h4>
            <select class="text-primary col-lg-4">
                <option value="br">Brasilia</option>
                <option value="sp">Sao paulo</option>
                <option value="rj">Rio de janeiro</option>
                <option value="ct">Curitiba</option>
            </select>
        </div>
        <div class="well alert-info">
            <div class="component" align="center">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="images/home/frete.jpg" width="636" height="45">
            </div>
            <form name="form1" method="post" action="">
                <table class="breadcrumb" width="82%" height="550" cellpadding="15" cellspacing="15">
                    <tbody>
                        <tr class="">
                            <td colspan="2" align="center" bgcolor="#FFFFFF">
                                <img src="images/home/carro.jpg" width="100" height="75" class="img-responsive">
                            </td>
                            <td width="19%" class="productinfo" align="right">QUANTIDADE, PREVISÃO</td>
                            <td width="21%" class="productinfo" align="left"> DE ENTREGA E VALORES</td>
                            <td width="23%" class="productinfo"></td>
                            <td width="2%" class="productinfo" hidden="yes"></td>
                        </tr>
                        <tr class="btn-primary" align="center">
                            <td width="17%" class="productinfo">
                                <h3>Quantidade</h3>
                            </td>
                            <td width="18%" class="productinfo table-hover">
                                <h3>terça-feira</h3>
                                <br>07 nov</td>
                            <td class="productinfo  table-hover">
                                <h3>terça-feira</h3>
                                <br>07 nov</td>
                            <td class="productinfo  table-hover">
                                <h3>terça-feira</h3>
                                <br>07 nov</td>
                            <td class="productinfo  table-hover">
                                <h3>terça-feira</h3>
                                <br>07 nov</td>
                        </tr>
                        <tr class="table-hover">
                            <td>100&nbsp;un</td>
                            <td class="animated">
                                <input type="checkbox" name="check">
                                <label for="checkbox"></label>
                            </td>
                            <td class=" table-hover">
                                <input type="checkbox" id="roundedOne" name="check">
                                <label for="checkbox"></label>
                            </td>
                            <td class=" table-hover">
                                <input type="checkbox" id="roundedOne" name="check">
                                <label for="checkbox"></label>
                            </td>
                            <td class=" table-hover">
                                <input type="checkbox" id="roundedOne" name="check">
                                <label for="checkbox"></label>
                            </td>
                        </tr>
                        <tr class="shipping label-success">
                            <td class="text-info table-hover">250 un</td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>500 un</td>
                            <td class=" table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class=" table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class=" table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class=" table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                        </tr>
                        <tr class="shipping label-success">
                            <td class="text-info">1.000 un</td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>2.500 un</td>
                            <td class=" table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class=" table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class=" table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class=" table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                        </tr>
                        <tr class="shipping label-success">
                            <td class="text-info table-hover">5.000 un</td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="text-info">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-hover">10.000 un</td>
                            <td class="table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                        </tr>
                        <tr class="shipping label-success">
                            <td class="text-info table-hover">20.000 un</td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                            <td class="text-info table-hover">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <br>
        <br>
        <div align="center">
            <h4>
                <img src="images/home/warning-icon-hi (1).png" width="20" height="20">&nbsp;
                <span class="text-danger">Atenção! As entregas podem ocorrer entre 09:00 e 22:00. Certifique-se de que haverá alguém para receber seu
                    produto.</span>
            </h4>
        </div>
    </section>
    <br />
    <br />
    <div align="center">
        <a href="Config-Cartao-EnviarArte.html">
            <button class="alert btn-info">
                <span>Continuar</span>
            </button>
        </a>
    </div>
    <br />
    <br />

</header>